<ion-content>
    <ion-label class="neighborhood">Neighborhood</ion-label>
    <ion-input class="neighborhood" type="text" [(ngModel)]="profile.neighborhood"></ion-input>

    <ion-label>Bedrooms Min</ion-label>
    <ion-input type="number" [(ngModel)]="profile.bedrooms_min"></ion-input>
    <ion-label>Bedrooms Max</ion-label>
    <ion-input type="number" [(ngModel)]="profile.bedrooms_max" ></ion-input>

    <ion-label>Bathrooms Min</ion-label>
    <ion-input type="number" [(ngModel)]="profile.bathrooms_min"></ion-input>
    <ion-label>Bathrooms Max</ion-label>
    <ion-input type="number" [(ngModel)]="profile.bathrooms_max" ></ion-input>

    <ion-label>Vacancies Min</ion-label>
    <ion-input type="number" [(ngModel)]="profile.vacancies_min" ></ion-input>
    <ion-label>Vacancies Max</ion-label>
    <ion-input type="number" [(ngModel)]="profile.vacancies_max" ></ion-input>

    <ion-label>Area Min</ion-label>
    <ion-input type="number" [(ngModel)]="profile.area_min"></ion-input>
    <ion-label>Area Max</ion-label>
    <ion-input type="number" [(ngModel)]="profile.area_max" ></ion-input>

    <ion-label>Value Min</ion-label>
    <ion-input type="number" [(ngModel)]="profile.value_min" ></ion-input>
    <ion-label>Value Max</ion-label>
    <ion-input type="number" [(ngModel)]="profile.value_max" ></ion-input>

    <button ion-button (click)="search()">Search</button>

    <div class="result-search" *ngIf="countContactsFounds">
        <span>Contacts found {{countContactsFounds}} </span>
        <ion-card *ngFor="let contact of contacts" (click)="select(contact)" class="contact">
            <span>Name: {{contact.name}} </span>
        </ion-card>
    </div>
</ion-content>
    