contact-profile-search {
    .result-search {
        margin-top: 16px;
        text-align: center;
        font-size: 20px;
    }
    .contact {
        margin: 16px 0;
        cursor: pointer;
    }
}